@charset "utf-8";

#wrap{
    width:638px;
    margin:0 auto;
    /* outline:1px solid red; */
}

.gnb{
    width:100%;    
    *zoom:1;
}

.gnb:after{
    display:block;
    clear:both;
    content:'';
}

.gnb>li{
    float:left;
    position:relative;/*기준점 설정*/
    width:150px;
    height:50px;
    margin-right:10px;
    border:1px solid red;
    /* box-sizing:border-box; */
}

.gnb>li:last-child{margin-right:0;}

.gnb>li>a{
    display:block;
    height:50px;
    line-height:50px;
    text-align:center;
}

.gnb>li:hover>a{background-color:yellow;}

.gnb>li:hover>a+.lnb{display:block;}

.lnb{
    display:none;
    position:absolute;
    left:-1px;
    top:50px;
    width:150px;
    border:1px solid black;
}

.lnb>li{
}

.lnb>li>a{
    display:block;
    height:50px;
    line-height:50px;
    text-align:center;
}

.lnb>li:hover>a{background-color:pink;}