@charset "utf-8";

#wrap{
    width:665px;
    margin:0 auto;
    /* border:1px solid rgba(255,0,0,0.3); */
}

section>h2{
    height:50px;
    font-size:16px;
    line-height:50px;

}

section>ol{*zoom:1;}
section>ol:after{
    display:block;
    clear:both;
    content:'';
}

section>ol>.pack{
    float:left;
    position:relative;
    width:164px;
    /*height:169px;임시-삭제예정*/
    margin-right:3px;
    /* outline:1px solid blue; */
}

section>ol>.pack:last-child{margin-right:0;}

section>ol>.pack .pht{
    position:absolute;
    left:0;
    top:0;
    width:100%;
    height:114px;
}

section>ol>.pack:nth-child(1) .pht{
    background-image:url(../images/movie_1.jpg);
}
 
section>ol>.pack:nth-child(2) .pht{
    background-image:url(../images/movie_2.jpg);
}
 
section>ol>.pack:nth-child(3) .pht{
    background-image:url(../images/movie_3.jpg);
}
 
section>ol>.pack:nth-child(4) .pht{
    background-image:url(../images/movie_4.jpg);
}


section>ol>.pack .pht>.mov{
    display:block;
    position:absolute;
    left:5px;
    bottom:3px;
    width:26px;
    height:27px;
    text-indent:-9999px;
    background-image:url(../images/sp_ico.png);
    background-position:-102px -450px;
}

section>ol>.pack .pht:after{
    display:block;
    position:absolute;
    right:3px;
    bottom:5px;
    width:45px;
    height:25px;
    color:white;
    font-weight:600;
    font-size:14px;
    line-height:25px;
    letter-spacing:1px;
    text-align:center;
    background-color:green;    
    content:'최초';
}

section>ol>.pack:last-child .pht:after{
    display:none;
}
 
section>ol>.pack .pht>.frst{
    display:block;
    position:absolute;
    right:3px;
    bottom:5px;
    width:45px;
    height:25px;
    color:white;
    font-weight:600;
    font-size:14px;
    line-height:25px;
    letter-spacing:1px;
    text-align:center;
    background-color:green;
}

section>ol>.pack .tit{
    height:30px;
    margin-top:114px;
    font-size:14px;
    line-height:30px;
}

section>ol>.pack .tit:before{
    display:inline-block;
    width:30px;
    height:15px;
    color:#2952f4;
    font-weight:600;
    line-height:15px;
    text-align:center;
    border:2px solid #ccc;
    content:'HD';
}

section>ol>.pack .tit>span{
    display:inline-block;
    width:30px;
    height:15px;
    color:#2952f4;
    font-weight:600;
    line-height:15px;
    text-align:center;
    border:2px solid #ccc;
}

section>ol>.pack .tip{
    height:25px;
    font-size:13px;
    line-height:25px;
}


footer{
    height:50px;
    line-height:50px;
    text-align:center;
}