@charset "utf-8";

.clearfix{*zoom:1;}
.clearfix:after{
    display: block;
    clear: both;
    content: '';
}

h1{
    height: 100px;
    line-height: 100px;
    text-align: center;
}

#slides{
    width: 935px;
    margin: 0 auto;
    border: 1px solid #dedede;
}

#slides>.screen{
    float: left;
    width: 647px;
    background-image: url(../images/big1.jpg);
    background-position: 50% 50%;
    background-size: cover;

}

#slides>.screen>a{
    display: block;
    height: calc(95px * 3 + 2px);/*=287px*/
    text-indent: -9999px;
}

#slides>nav{
    float: left;
    width: calc(95px * 3 + 3px);/*=288px*/
}

#slides>nav>ul>li{
    float: left;
    width: 95px;
    border: 1px solid #dedede;
    border-top-width: 0;
    border-right-width: 0;
}

#slides>nav>ul>li:hover,
#slides>nav>ul>li.on{background-position: 0 -95px;}

#slides>nav>ul>li:nth-child(1){
    background-image: url(../images/th1.png);
}

#slides>nav>ul>li:nth-child(2){
    background-image: url(../images/th2.png);
}

#slides>nav>ul>li:nth-child(3){
    background-image: url(../images/th3.png);
}

#slides>nav>ul>li:nth-child(4){
    background-image: url(../images/th4.png);
}

#slides>nav>ul>li:nth-child(5){
    background-image: url(../images/th5.png);
}

#slides>nav>ul>li:nth-child(6){
    background-image: url(../images/th6.png);
}

#slides>nav>ul>li:nth-child(7){
    background-image: url(../images/th7.png);
    border-bottom-width: 0;
}

#slides>nav>ul>li:nth-child(8){
    background-image: url(../images/th8.png);
    border-bottom-width: 0;
}

#slides>nav>ul>li:nth-child(9){
    background-image: url(../images/th9.png);
    border-bottom-width: 0;
}


#slides>nav>ul>li>a{
    display: block;
    height: 95px;
    text-indent: -9999px;
}

